node_modules/
cache/
artifacts/
coverage/
typechain-types/
ignition/deployments/
ignition/.tmp/

app/node_modules/
app/dist/
app/src/artifacts/

.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
